<div class="container">
  <div class="container__form">
    <form novalidate [formGroup]="formSearch">
      <div class="form-control">
        <label for="topic">Lenguaje de programación</label>
        <input name="topic" type="text" formControlName="q" placeholder="Ej: javascript"/>
      </div>
      <div class="form-control">
        <label for="star">Número de estrellas</label>
        <input name="star" type="number" formControlName="star" placeholder="Ej: 1"/>
      </div>
      <div class="form-control"><input type="submit" [disabled]="this.formSearch.invalid" value="Buscar" (click)="onSubmit()"></div>
    </form>
  </div>
  <div *ngIf="data" class="view__container">
      <h1 class="view__container__title">Repositorios</h1>
      <app-list [data]="data"></app-list>
  </div>
</div>